parameters:
    bootstrap: vendor/autoload.php
    ignoreErrors:
        - '#^Parameter \#4 \$length of function substr_compare expects int, null given\.$#'
        - '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'

includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
