parameters:
    bootstrap: vendor/autoload.php
    ignoreErrors:
        - '#^Parameter \#4 \$length of function substr_compare expects int, null given\.$#'
        - '#^Variable method call on \$this\(WoohooLabs\\Zen\\AbstractCompiledContainer\)\.$#'
        - '#^Variable property access on .*$#'

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
